@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
  --background-color: #fffcf6;
  --background-light-blue: #c7d9e0;
  --border-blue: #bfd4db;
  --color-blue: #16325f;
  --dark-blue: #0d1c40;
  --disabled-button-background-blue: #edf0f2;
  --disabled-button-color-blue: #b9c0c7;
}

body {
  color: var(--color-blue);
  background: var(--background-color);
}

/* Button Styles */

button {
  background-color: var(--dark-blue);
  color: white;
}

button:disabled {
  background: var(--disabled-button-background-blue);
  color: var(--disabled-button-color-blue);
}

/* Table Styles */

td {
  cursor: pointer;
}

tr,
td {
  height: 68px;
  min-width: 18rem;
  width: 18rem;
}

thead {
  background-color: var(--dark-blue);
  color: white;
}

.prompt-section {
  background-color: var(--background-color);
  border: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  background-color: var(--background-light-blue);
  color: var(--color-blue);
}

.loading {
  background: radial-gradient(
    circle at 100%,
    #b2a8fd,
    #8678f9 50%,
    #c7d2fe 75%,
    #9a8dfd 75%
  );
  font-weight: 600;
  background-size: 200% auto;
  background-color: black;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 1.5s linear infinite;
}

@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}
